body {
    font-family: Arial, sans-serif;
    background-image: url('Brachial-Plexus.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.9;
}

header, footer {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 1rem;
    text-align: center;
}

main {
    padding: 2rem;
}

#container {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 2rem;
    border-radius: 5px;
    max-width: 600px;
    margin: 0 auto;
}

h2 {
    text-align: center;
   }

input[type="file"] {
    display: none;
}

#file-label {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 1rem;
}

button {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
}

button:hover {
    background-color: rgba(0, 0, 0, 1);
}